<header class="sticky top-0">
  <div class="container mx-auto py-2 px-4">
      <div class="bg-white rounded-full border border-gray-200 shadow-sm max-w-5xl mx-auto">
          <div class="flex flex-col sm:flex-row justify-between items-center py-2 px-4">
              <div class="flex items-center text-xl">
                  <div class="w-48 mr-4">
                      <img class="w-48 h-12"
                          src="assets/images/logo1.png"
                          alt="Workflow"/>
                  </div>
              </div>
              <div class="flex mt-2 sm:mt-0">
                  <a class="px-3 text-gray-700 hover:text-teal-500 transition-colors duration-200 text-sm" routerLink="/home">Home</a>
                  <a class="px-3 text-gray-700 hover:text-teal-500 transition-colors duration-200 text-sm" routerLink="/about">About</a>

                  <a class="px-3 text-gray-700 hover:text-teal-500 transition-colors duration-200 text-sm" routerLink="/category">Category</a>
                  <a class="px-3 text-gray-700 hover:text-teal-500 transition-colors duration-200 text-sm" routerLink="/contact">Contact</a>
              </div>
              <div class="hidden md:flex items-center">
                  <div class="relative inline-block">
  <!-- Profile Image -->
  <img src="assets/images/user.png" 
       alt="User" 
       class="w-12 h-12 rounded-full cursor-pointer"
       (click)="toggleLogout()">

  @if (showLogout) {
      <button 
          (click)="logout()"
          class="absolute top-full mt-2 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-red-500 text-white text-sm rounded shadow hover:bg-red-600 transition">
    Logout
  </button>
  }
</div>

              </div>
          </div>
      </div>
  </div>
</header>