<div class="relative py-16 bg-cover bg-center rounded-lg" style="background-image: url('assets/images/footerf.png'); position: relative; overflow: hidden;">
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6 relative z-10">
        <div class="text-center">
            <h1 class="text-4xl font-bold  md:text-5xl">National Cooperative Development Corporation</h1>
            <p class="text-xl text-gray-700 dark:text-gray-500 mt-10">Siri Institutional Area, Hauz Khas, New Delhi - 110016</p>
        </div>
        
        <div class="mt-8 flex flex-wrap justify-center gap-6">
            <a href="#" class="relative flex h-12 w-full sm:w-max items-center justify-center px-8 bg-teal-500 text-white font-semibold rounded-full transition duration-300 hover:scale-105 active:scale-95">
                Feedback
            </a>
            <a href="#" class="relative flex h-12 w-full sm:w-max items-center justify-center px-8 border border-teal-500 bg-gradient-to-b from-teal-500/10 to-transparent text-teal-500 font-semibold rounded-full transition duration-300 hover:scale-105 active:scale-95">
                Contact Us
            </a>
        </div>

        <div class="mt-10 text-center text-gray-800 dark:text-black-100">
            <p class="flex items-center justify-center gap-2">
                <i class="fa fa-map-marker text-teal-500"></i>Siri Institutional Area, Hauz Khas, New Delhi - 110016
            </p>
            <p class="flex items-center justify-center gap-2">
                <i class="fa fa-phone text-teal-500"></i> Tel: +91-011-20862512, 20862866, 20862490, 20862801
            </p>
            <p class="flex items-center justify-center gap-2">
                <i class="fa fa-fax text-teal-500"></i> Fax: +91-011-26962370, 20862619, 26602568
            </p>
            <p class="flex items-center justify-center gap-2">
                <i class="fa fa-envelope text-teal-500"></i> Email: <a href="mailto:mail@ncdc.in" class="text-teal-500">mailncdc.in</a>
            </p>
        </div>
    </div>
</div>
